body {
    background-color: whitesmoke ;
}

.container {
    margin: 10px auto;
}

#data {
    margin: 10px
}

.buttom {
    display: flex;
    justify-content: start;
}

.btn-primary {
    margin: 2px 5px;
}

.btn-secondary {
    margin: 2px 5px;
}
